.stylish{
	color: #FFFFFF;
	font-family: "Times New Roman";
	font-style: bold;
	padding: 5px 5px;
    position: fixed;
	z-index: 1;
	background-color: #FF0000;
	width:100%;
	text-align: center;
	margin: 0px 0px;
}

.stylish:hover {
 	background-color: #B30000;
	color: #FFFFFF;
}

.col-sm-4{
	margin-bottom: 10px;
}

.img-thumbnail:hover{
	background-color: #FF0000;
}

.likecom{
	font-size: 24px;
	height: 100%;
	width: 100%;
	margin-top: 5px;
	display: inline-block;
}

.likecom:hover{
	background-color: #adad85;
}

.size{
	font-size: 30px;
	width: 100%;
	display: inline-block;
}

.size:hover{
	background-color: #adad85;
}

.red{
	color: #FF0000;
}

.slide{
	padding: 10px;
	color: #000000;
	background-color: #FFFFFF;
}

.toggle{
	padding: 5px;
    text-align: center;
    background-color: #FF0000;
    display: none;
}

input{
	width: 100%;
	height: 40px;
}

.style{
	text-align: center;
	font-weight: bold;
	color: #000000;
	font-size: 30px;
	width: 100%;
	margin-top: 5px;
	display: inline-block;
}

.style:hover{
	background-color: #adad85;
}

.toggle1{
	padding: 5px;
    text-align: center;
    background-color: #FFFFFF;
    display: none;
}

.grid-container{
	display: grid;
  	grid-template-columns: auto auto auto;
  	padding: 10px;
  	grid-gap: 10px;
}

.hulk_com , .ironman_com , .thor_com , .valkyrie_com , .drstrange_com , .vision_com , .spiderman_com , .gamora_com , .starlord_com, .nebula_com , .groot_com , .captainamerica_com , .wong_com , .blackwidow_com , .hawkeye_com , .blackpanther_com , .witch_com , .wintersoldier_com , .drax_com , .warmachine_com , .loki_com , .heimdall_com , .shuri_com , .samwilson_com , .rocketraccoon_com , .okoye_com , .antman_com , .cable_com , .thanos_com , .deadpool_com , .teenage_com , .colossus_com , .domino_com
{
	padding: 5px;
    text-align: center;
    background-color: #FF0000;
    display: none;
}

.hulk_rate , .ironman_rate , .thor_rate , .valkyrie_rate , .drstrange_rate , .vision_rate , .spiderman_rate , .gamora_rate , .starlord_rate, .nebula_rate , .groot_rate , .captainamerica_rate , .wong_rate , .blackwidow_rate , .hawkeye_rate , .blackpanther_rate , .witch_rate , .wintersoldier_rate , .drax_rate , .warmachine_rate , .loki_rate , .heimdall_rate , .shuri_rate , .samwilson_rate , .rocketraccoon_rate , .okoye_rate , .antman_rate , .cable_rate , .thanos_rate, .deadpool_rate , .teenage_rate , .colossus_rate , .domino_rate
{
	padding: 5px;
    text-align: center;
    background-color: #FFFFFF;
    display: none;
}   





